@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

body{
  background-color: #FFFDE7;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}
div{
  padding: 0;
  margin: 0;
}
button:focus-visible{
  border: none;
  outline: none;
}
input:focus-visible{
  border: none;
  outline: none;
  outline-color: none;
}
button:hover{
  outline: none;
}
button{
  outline: none;
  outline-color: none;
}
button:active{
  outline: none;
  border-color: none;
  outline-color: none;

}
button:focus{
  outline: none;
  border: none;
  outline-color:#F2CB05;

}