
.background {
  width: 100vw;
  padding: 2rem;
  box-sizing: border-box;
}
.title-one {
  color: #070707;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 24px 0 10px 2px;
}
.search-header{
  width: 100vw;
}
.hero-title{
  font-weight: 700;
  font-size: 24px;
  position: relative;
  margin-left: 60px;
  margin-top: -140px;
  margin-bottom: 30px;
}
.form-box{
  min-height: 100px;
}
.search-section {
  width: 40%;
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.search-box {
  border-radius: 2rem;
  background: #F3F4F6;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
  height: 40px;
  width: 80%;
  box-sizing: border-box;
  color: #6B7280;
}
.search-icon {
  padding-top: 0.2rem;
}
.icon{
    width: 24px;
    height: 24px;
    color: #070707;
}
.add-button {
  border-radius: 1rem;
  background-color: #F2CB05;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  font-weight: 700;
  line-height: 1px;
  border: none;
}
.add-button:hover{
  border: none;
  background-color: #F2E705;
}
.input {
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 16px;
  width: 60%;
}
.input:focus-visible {
  border-color: transparent;
}
.selected-ingredients {
  display: flex;
  margin: .5rem 0 0 0;
}
.ingredients {
  border-radius: 2rem;
  width: fit-content;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem 0 0.5rem;
  margin-right: 1rem;
  border: 1px solid #F2CB05;
}
.ingredients p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  line-height: 14;
}
.ingredients button {
  background-color: transparent;
  padding: 0 0.4rem;
  margin-top: 0.3rem;
}
.ingredient-error{
  width: 100%;
  text-align: left;
  margin-top: -12px;
  font-size: 14px;
  color: #BA0000;
}

/* diets */

.diets {
  padding: 0 0 1rem 0;
}
.diet-box {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 16px
}
.diet-img{
  height: 100%;
  object-fit: cover;
}
.diet-img-button{
  width: 150px;
  height: 200px;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
  text-align: left;
  box-sizing: border-box;
}
.diet-img-button:hover{
  opacity: .7;
}
.diet-img-button:focus {
  border:3px solid #F2CB05;
}
.diet-img-button:active {
  border:3px solid #F2CB05;
}
.diet-img-button p{
  position: absolute;
  margin: -45px 0 0 15px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  z-index: 3;
}
.search-button {
  width: 30%;
  border-radius: 1rem;
  background-color: #F2CB05;
}
.search-button:hover{
  background-color: #F2E705;
}

.more-button{
  width: 100%;
  text-align: right;
  cursor: pointer;
}
/* recipies component */

.search-description{
  width: 100%;
  display: flex;
  height: 60px;
  align-items: center;
  margin-top: 12px;
  justify-content: space-between;
  box-sizing: border-box;
}
.search-description p{
  margin-right: 12px;
}
.search-items{
 display: flex;
}
.subtitle{
  font-weight: 700;
}
.ingredient-list{
  display: flex;
}
.new-button{
  border-radius: 1rem;
  background-color: #F2CB05;
}
.display-none{
  display: none;
}
/* Recipies Section */
.recipies-box{
  padding: 0 40px;
}
.recipies-background{
 padding: 24px 40px 0 40px;
 box-sizing: border-box;
}
.recipies-box h5{
  margin: 0;
  padding: 0;
}
.card-section{
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  padding: 0;
  margin: 12px 0;
}
@media only screen and (min-width: 1026px) and (max-width: 1180px){
  .card-section{
    grid-template-columns: repeat(5, 1fr);
  }

}
@media only screen and (min-width: 779px) and (max-width: 1025px){
  .hero-title{
    font-size: 20px;
    margin-top: -120px;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  .search-section{
    width: 60%;
  }
  .search-box{
    width: 75%;
  }
  .search-header{
    height: 180px;
    width: 100vw;
    overflow:hidden;
    object-fit: cover;
  }
  .diet-box{
    width: 100%;
  }
  .diet-img-button{
    width: 160px;
    height: 130px;
    margin-bottom: 12px;
  }
  .diet-img-button::before{
    height: 130px;
    width: 160px;
  }
  .diet-img{
    width: 100%;
  }
  .card-section{
    grid-template-columns: repeat(4, 1fr);
  }


}
@media only screen and (min-width: 700px) and (max-width: 980px){
  .card-section{
    grid-template-columns: repeat(3,1fr);
  }
}
  

@media only screen and (min-width: 300px) and (max-width: 699px){
  .search-section{
    width: 100%;
  }
  .search-box{
    width: 70%;
  }
  .title-one  {
    margin-top: 14px
  } 
  .diet-box{
    gap:12px
  }
  .diet-img-button{
    width: 48%;
    height: 90px;
  }
  .diet-img{
    width: 100%;
  }
  .search-button {
    width: 100%;
}
.search-description{
  width: 90%;
  height: 100px;
  align-items: start;
  margin: 0;
}
.search-description p{
  margin-top: 0;
  line-height: 14px;
}
.search-items{
  display: block;
}
.subtitle{
  margin: auto 0 8px 0;
  padding-top: 10px;
}
.ingredient-list p{
  margin: 0 0 4px 0;
  line-height: 14px;
}
.recipies-background{
  padding-bottom: 40px;
}
.card-section{
  grid-template-columns: repeat(2, 1fr);
}
}