.detail-header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.item-header{
    margin: 0;
}
.hero-recipie-detail{
    width: 100%;
    display: flex;
    margin-top: 2rem;
}
.text-box-detail{
  width: 40%;
  background-color: #F2CB05;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-box-detail h5{
    font-size: 2.5rem;
    margin: 20px 0 0 0;
}
.text-box-detail p{
    font-size: 1.3rem;
    margin-bottom: 0;
}
.img-box-detail{
    width: 60%;
    height: 30rem;
    overflow: hidden;
}
.img-box-detail img{
    width: 100%;
    object-fit: cover;
}
.instructions{
    width: 100%;
    display: flex;
}
.ingredients-detail{
    width: 50%;
    padding-right: 10rem;
}
.ingredients-detail h5{
    font-size: 1.5rem;
}
.step{
    font-size: 16px
}
.enjoy{
    text-align: center;
    background-color: #F2CB05;
    padding: 3rem;
    font-weight: 600;
}
.enjoy p{
    margin: 0;
}

@media only screen and (min-width: 300px) and (max-width: 699px){
    .hero-recipie-detail{
        flex-direction: column;
    }
    .text-box-detail{
        width: 100% ;
        box-sizing: border-box;
    }
    .text-box-detail h5{
        font-size: 1.5rem;
    }
    .img-box-detail{
        width: 100%;
        height: auto;
    }
    .instructions{
        flex-direction: column;
    }
    .ingredients-detail{
        width: 100%;
    }
    .ingredients-detail h5{
        margin: .5rem 0 0;
    }
    .ingredients-detail p{
        margin: .2rem .2rem 
    }
    .ingredients-detail ol{
    padding-inline-start: 16px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px){
    .img-box-detail{
        height: 18rem;
    }
    .img-box-detail img{
        height: 100%;
    }
    .ingredients-detail{
        padding-right: 0rem;
    }
    .ingredients-detail h5{
        margin: 1rem 0 0;
    }
    .ingredients-detail p{
        margin: 1rem .2rem 
    }
    .ingredients-detail ol{
    padding-inline-start: 16px;
    }
}